<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .btn-style {
        width: 35%;
    }
</style>

<div>
    <h1>Employees</h1>

    <div style="margin-bottom: 10px;">
        <button class="btn btn-success" ng-click="add_form()">Add</button>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Date of Birth</th>
            <th>Action</th>
        </tr>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.name}}</td>
                <td>{{employee.department.name}}</td>
                <td>{{employee.dob | date:'MMMM dd, yyyy'}}</td>
                <td>
                    <button class="btn btn-primary btn-style" data-id="{{employee.id}}" ng-click="edit_form($event)">Edit</button>
                    <button class="btn btn-danger btn-style" data-id="{{employee.id}}" ng-click="delete($event)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

